.day-of-week,
.date-grid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-color: rgb(157, 221, 229);
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family:  "Roboto", "Helvetica", "Arial", sans-serif;
}

/* Styles for the calendar box */
.calendar{
    background-color: white;
    padding: 2rem;
    padding-top: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0,0,0, 1);
    line-height: 3rem;
}

/* applying font styles */
.month-indicator, .date-grid > *{ 
    font-size: 1.3rem;
    font-weight: 500;
    color: grey;
}
.date-grid > *{
    line-height: 3rem;
}

.day-of-week{
    text-transform: uppercase;
    font-size: 0.9rem;
    color: #6e8194;
    font-weight: 300;
    letter-spacing: 0.1em;
}

/* Centering Month and Days of the week */
.month-indicator , .day-of-week {
   text-align: center;
}

.day-of-week, .date-grid{
    min-width: 400px;
}

/* Styles when select each day */
button{
    background-color: transparent;
    border: none;
    height: 3.5rem;
    border-radius: 100%;
}

button:hover, button:focus{
    outline: none;
    background-color: rgb(185, 196, 199);
}

button:active{
    background-color: rgb(57, 185, 218);
}